
body
{

	width: 1000px;
	
	padding:15px 10px 10px 50px;
}

#root_list{
	width: 1000px;
	background-color: #F0F0F0;
}

.detail-label
{
	background-color:MediumSlateBlue;
	cursor: hand;
	color: white;
}

.detail-div
{
	width:95%;
	background-color:MintCream ;
	outline-style:dotted;
	outline-width:1px;
	padding:15px 10px 10px 20px;
}
.clearfix
{
	clear:both;
	visibility:hidden;
	width: 100%
}

.chart-div
{
	float: left;
	width:75%; 
	height:160px;
	padding-top:5px; 
}
.citator-div
{
	float: left;
	width: 25%;
	height:160px;
	padding-top:5px; 
}

.chart-trend-div
{	
	height: 200px ;
	width: 90%;
	padding-top:10px; 
}

a
{
	text-decoration: none;
	color: RoyalBlue ;
}
li
{
	padding:5px 0 0 5px;
	text-align:justify;
}


.t_title
{
	text-decoration: underline;
}
.proceeding
{
	font-style:italic;
}
.abstract_title
{
	font-weight:bold;
}
#header
{
	width:95%;

}	
.author_div
{	
	width:95%;
	background-color:white ;
	outline-style:dotted;
	outline-width:1px;
	padding:15px 10px 10px 20px;
}
.author_citation_button
{
	color: white;
	background-color:Green;
	cursor: hand;
	font-size: 14px;
	padding:2px 1px 1px 2px;
}
.author_citor
{
	float: left;
	width: 25%;
	height:160px;
	padding-top:5px; 
}

.author_cit_div
{
	float: left;
	width:75%; 
	height:160px;
	padding-top:5px; 
}
.author_cit_total
{
	font-size: 18px;
	padding:2px 1px 1px 25px;
	color: Purple;
}
.author_cit_trend_div
{
	height: 160px;
	width: 95%;
	padding-top:10px; 

}
.person_item{
	color: RoyalBlue;
	font-size: 20px;
}
.person_item_none{
	color: black;
	font-size: 20px;
}
.group_item{
	color: Red;
	font-size: 20px;
}
.group_div{
	width:95%;
	background-color:MintCream ;
	outline-style:dotted;
	outline-width:1px;
	padding:15px 10px 10px 10px;
}

.person_div{
	width:95%;
	background-color:#FFFFCC ;
	outline-style:dotted;
	outline-width:1px;
	padding:15px 10px 10px 10px;
}